# created by virtualenv automatically
# Archivos de caché de Python
__pycache__/
*.py[cod]

*.pyc
# Entornos virtuales
env/
venv/
.venv/

# Archivos de configuración locales
*.env
*.DS_Store

# Archivos temporales del sistema
*.swp
*.swo
